.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.leftControls {
  float:left;
  width:20%;
  height:100%;
}

.grid {
  float:left;
  width:60%;
}

.rightControls {
  float:right;
  width:20%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
   border: 1px solid black;
}

td {
  width:1em;
}

td.alive {
  background-color: white;
}

td.dead {
  background-color: black;
}
